/* extra small devicw start */
@media (max-width: 575.99px) {

    .middle-header{
        display:none !important;
    }

    .offcanvas-body{
    background-color: #000;
}


.offcanvas-header{
    background-color: #000;
}

.offcanvas-header .btn-close{
    color: #000000;
    background-color: #E3AA11;
}

.navbar-toggler-icon i {
color: #E3AA11;
}

.top-header{
    height: 70px;
}

.banner-content h2{
    text-align: center;
}
.banner-content p {
  font-size: 23px;
}

#welcome ,#offer,footer ,#all-menu , .menu-showcase{
    text-align: center;
    padding: 0 11px;
}
.offer-snd{
    margin-top: 70px;
}

.cuisine{
    text-align: center;
}
.fixedIcon {
    bottom: 4px;
    right: 7px;
}

.menu-item {
    margin: 0px;
    width: 100%;
}

#all-menu .row {
    gap: 40px;
}

.menu-showcase h3 {
    font-size: 64px;
    margin-top: 40px;
}

.first-menu{
    margin-top: 120px;
}

}
  
  
  /* small device start */
  @media (min-width: 576px) and (max-width: 767.99px) {
  .middle-header{
        display:none !important;
    }

        .offcanvas-body{
    background-color: #000;
}


.offcanvas-header{
    background-color: #000;
}

.offcanvas-header .btn-close{
    color: #000000;
    background-color: #E3AA11;
}

.navbar-toggler-icon i {
color: #E3AA11;
}

.banner-content h2 {
    font-size: 69px;
}

#welcome ,#offer,footer ,#all-menu , .menu-showcase{
    text-align: center;
    padding: 0 11px;
}

.offer-snd{
    margin-top: 70px;
}
.cuisine{
    text-align: center;
}
.fixedIcon {
    bottom: 58px;
    right: 18px;
}

.menu-item {
    margin: 0px;
    width: 100%;
}

#all-menu .row {
    gap: 40px;
}

.menu-showcase h3 {
    font-size: 64px;
    margin-top: 40px;
}

.first-menu{
    margin-top: 120px;
}


  }

  /* medioum device start */
  @media (min-width: 768px) and (max-width: 991.99px) {

    .middle-header{
        display:none !important;
    }
  
        .offcanvas-body{
    background-color: #000;
}


.offcanvas-header{
    background-color: #000;
}

.offcanvas-header .btn-close{
    color: #000000;
    background-color: #E3AA11;
}

.navbar-toggler-icon i {
color: #E3AA11;
}

#welcome ,#offer,footer ,#all-menu , .menu-showcase{
    text-align: center;
    padding: 0 11px;
}

.offer-snd{
    margin-top: 70px;
}
.cuisine{
    text-align: center;
}

.fixedIcon {
    bottom: 20px;
    right: 25px;
}

.menu-item {
    margin: 0px;
    width: 100%;
}

#all-menu .row {
    gap: 40px;
}
.first-menu{
    margin-top: 120px;
}
.menu-showcase h3 {
    font-size: 64px;
    margin-top: 40px;
}

  }

  /* large device start */
  @media (min-width: 992px) and (max-width: 1199.99px) {
    .middle-header{
    display:none !important;
}
footer{
    text-align: center;
}
.fixedIcon {
    bottom: 22px;
    right: 38px;
}
.menu-item {
    margin: 0px;
    width: 100%;
}
#all-menu .row {
    gap: 40px;
}
.first-menu{
    margin-top: 120px;
}
.menu-showcase h3 {
    font-size: 64px;
    margin-top: 40px;
}

  }
 

  