/* extra small devicw start */
@media (max-width: 575.99px) {
    body{
        padding: 0 12px;
    }
    .middle-header{
        display:none !important;
    }

    .offcanvas-body{
    background-color: #000;
}


.offcanvas-header{
    background-color: #000;
}

.offcanvas-header .btn-close{
    color: #000000;
    background-color: #E3AA11;
}

.navbar-toggler-icon i {
color: #E3AA11;
}

.top-header{
    height: 70px;
}

.banner-content h2{
    text-align: center;
}
.banner-content p {
  font-size: 23px;
}

#welcome{
    text-align: center;
}
.offer-snd{
    margin-top: 70px;
}

}
  
  
  /* small device start */
  @media (min-width: 576px) and (max-width: 767.99px) {
    body{
        padding: 0 12px;
    }

    .middle-header{
        display:none !important;
    }

        .offcanvas-body{
    background-color: #000;
}


.offcanvas-header{
    background-color: #000;
}

.offcanvas-header .btn-close{
    color: #000000;
    background-color: #E3AA11;
}

.navbar-toggler-icon i {
color: #E3AA11;
}

.banner-content h2 {
    font-size: 69px;
}

#welcome{
    text-align: center;
}

.offer-snd{
    margin-top: 70px;
}


  }

  /* medioum device start */
  @media (min-width: 768px) and (max-width: 991.99px) {
    body{
        padding: 0 12px;
    }

    .middle-header{
        display:none !important;
    }
  
        .offcanvas-body{
    background-color: #000;
}


.offcanvas-header{
    background-color: #000;
}

.offcanvas-header .btn-close{
    color: #000000;
    background-color: #E3AA11;
}

.navbar-toggler-icon i {
color: #E3AA11;
}

#welcome{
    text-align: center;
}

.offer-snd{
    margin-top: 70px;
}

  }

  /* large device start */
  @media (min-width: 992px) and (max-width: 1199.99px) {
    .middle-header{
    display:none !important;
}

  }
  /* large device end */
  @media (min-width: 1200px) and (max-width: 1399.98px) {

  }

  