/*  Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#E3AA11;
    --font-mont:"Montserrat", sans-serif;
    --font-caveat:"Caveat", cursive;
}

.primaryColor{
    color: #E3AA11;
}

body{
    background: url(../image/bodybackground.jpg);
    scroll-behavior: smooth;
    background-attachment: fixed;
    font-family: var(--font-mont);
}

::-webkit-scrollbar{
    width: 0px;
}

a{
text-decoration: none;
}

ul,li{
list-style-type: none;
}

.btn{
    background: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0px;
}

.btn:hover {
    border: 1px dashed var(--main-color);
    color: var(--main-color);
    background: transparent;
}

nav .btn{
    color: #000;
    font-weight: 500;
    animation: upDown 1000ms ease-in-out infinite alternate;
    -webkit-animation: upDown 1000ms ease-in-out infinite alternate;
    margin-top: 15px;
 }
 
 @keyframes upDown {
     from{
         transform: rotate(0deg);
     }
     to{
         transform: rotate(2deg) scale(0.9);
     }
 }

 .offer-left:hover , .menu-item:hover , .gallery:hover{
    transform: rotate(-4deg) scale(0.9);
    -webkit-transform: rotate(-4deg) scale(0.9);
    -moz-transform: rotate(-4deg) scale(0.9);
    -ms-transform: rotate(-4deg) scale(0.9);
    -o-transform: rotate(-4deg) scale(0.9);
}
#offer .primaryColor , #all-menu .primaryColor{
    font-weight: bold;
}

/*  header Css */

.top-header{
    border-bottom: 1px dashed var(--main-color);
    height: 43px;
    background-color: black;
}

.top-header p{
    font-family: var(--font-caveat);
    font-weight: 500;
    font-size: 24px;
    color: var(--main-color);
}

.middle-header{
    background-color: #212529;
}

.middle-header span{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.middle-header .primaryColor{
    color: #E3AA11;
    font-weight: bold;
}
.middle-right span{
    font-weight: bold;
}

.middle-right a{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.middle-right a:hover i{
    color: #E3AA11;
}

nav{
    height: 131px;
    background: url(../image/bodybackground.jpg);
    background-position: center;
    background-size: contain;
}

nav img{
    width: 100px;
}
.navbar-nav{
    gap: 20px;
}
.navbar-nav li a {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.navbar-nav li a:hover{
    color: var(--main-color);   
}

.navbar-nav .nav-item .active{
    font-size: 20px;
    color: var(--main-color);
    font-weight: 500;
}

/* banner CSS */

#banner{
    height: 90vh;
    position: relative;
}

#banner video{
object-fit:cover;
width: 100%;
height: 100%;
}

.banner-content{
    position: absolute;
    top:50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.395);
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.banner-content h2{    
font-family: var(--font-caveat);
font-weight: 600;
font-size: 80px;
line-height: 86px;
color: var(--main-color);
}

.banner-content p{    
font-weight: 500;
font-size: 28px;
color: #fff;
}


/* welcome CSS */

#welcome img{
    box-shadow: 4px 4px 3px var(--main-color);
    border: 1px solid var(--main-color);
}

#welcome h2{
    color: #E3AA11;
    font-size: 45px;
    line-height: 54px;
    font-weight: 500;
    font-family: var(--font-caveat);
    margin-bottom: 16px;
}

#welcome h3{
    color: #E3AA11;
    font-size: 53px;
    line-height: 54px;
    font-weight: 500;
    font-family: var(--font-caveat);
}

#welcome p , .menu-showcase p{
    color: rgb(185, 185, 185);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

/* offer CSS */

#offer h2, #all-menu h2{
    color: var(--main-color);
    font-size: 70px;
    font-weight: 500;
    font-family: var(--font-caveat);
}
#offer p , #all-menu p{
    color: rgb(185, 185, 185);
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.offer-left{
    margin-top: 100px;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/menu-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    cursor: pointer;
}

.offer-left h4 , .menu-item h4{
font-size: 53px;
font-weight: 500;
color: var(--main-color);
line-height: 64px;
font-family: var(--font-caveat);
}

.offer-left p{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #fff !important;
}

.offer-snd{
    margin-top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/menu-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/* cuisine CSS */

.cuisine{
    height: 600px;
    position: relative;
}

.cuisine video{
object-fit:cover;
width: 100%;
height: 100%;
}

.cuisine-content{
    position: absolute;
    top:50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.395);
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.cuisine-content h2{    
font-family: var(--font-caveat);
font-weight: 600;
font-size: 80px;
line-height: 86px;
color: var(--main-color);
}

.cuisine-content p{    
font-weight: 500;
font-size: 30px;
color: var(--main-color);
letter-spacing: 10px;
}

.cuisine .btn , .menu-showcase .btn{
        color: #000;
        font-weight: 500;
        animation: upDown 1000ms ease-in-out infinite alternate;
        -webkit-animation: upDown 1000ms ease-in-out infinite alternate;
        margin-top: 19px;
}

/* Footer CSS */

footer{
    background: linear-gradient(rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.88)), url(../image/footer-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    color: #fff;
}

footer h3{
    font-size: 52px;
    line-height: 64px;
    font-weight: 500;
    font-family: var(--font-caveat);
    color: #E3AA11;
}

footer .footer-top p{
    font-weight: 500;
    font-size: 20px;
    color:rgb(248, 249, 250);
    line-height: 18px;
}

.foot-logo{
    width: 200px;
}

.halal-logo{
    width: 70px;
}

.footer-top a{
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.footer-top a:hover i{
    color: var(--main-color);
}

.footer-bottom{
    border-top: 1px solid #555555;
    text-align: center;
}

.bottom-list a{
    color: rgb(185, 185, 185);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-right: 2px solid var(--main-color );
    padding: 0px 10px;
}
.bottom-list a:last-child{
    border: none;
}

.footer-bottom p{
    color: rgb(185, 185, 185);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.fixedIcon{
    background: var(--main-color);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    position: fixed;
    bottom: 38px;
    right: 78px;
}

.footer-bottom p{
    margin-bottom: 0px;
    padding-bottom: 16px;
}

/*  Menu pages CSS */
#all-menu .row{
    gap: 115px;
}

.menu-item{
    margin: 90px 0px;
    width: 405px;
    height: 380px;
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/menu-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    cursor: pointer;
}

.drink-item{
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/drinks.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.desert-item{
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/desertitem.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-showcase img{
    width: 95%;
    box-shadow: 4px 4px 3px var(--main-color);
    border: 1px solid var(--main-color);
}

.menu-showcase h3{
    font-weight: 500;
    line-height: 84px;
    font-size: 70px;
    font-family: var(--font-caveat);
    color: #E3AA11;
    margin-bottom: 16px;
}


/*  Gallery pages CSS */
.gallery{
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    cursor: pointer;
    height: 380px;
}
.gallery-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    gap: 40px;
    margin: 70px 0;
}

#all-menu .gallery-items .gallery:first-child{
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/gallery1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#all-menu .gallery-items .gallery:nth-child(2){
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/gallery2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#all-menu .gallery-items .gallery:nth-child(3){
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/gallery3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#all-menu .gallery-items .gallery:nth-child(4){
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/gallery4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#all-menu .gallery-items .gallery:nth-child(5){
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/gallery5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#all-menu .gallery-items .gallery:nth-child(6){
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/gallery6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#all-menu .gallery-items .gallery:nth-child(7){
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/gallery7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#all-menu .gallery-items .gallery:nth-child(8){
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/gallery8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#all-menu .gallery-items .gallery:nth-child(9){
    background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../image/desertitem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
