/*  Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#E3AA11;
    --font-mont:"Montserrat", sans-serif;
    --font-caveat:"Caveat", cursive;
}

body{
    background-image: url(/image/bodybackground.jpg);
    scroll-behavior: smooth;
    background-attachment: fixed;
    font-family: var(--font-mont);
}

a{
text-decoration: none;
}

ul,li{
list-style-type: none;
}

.btn{
    background: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0px;
}

.btn:hover {
    border: 1px dashed var(--main-color);
    color: var(--main-color);
    background: transparent;
}